/* $Id$ */

/*-----------------------------------------------------------------------
  Seed - Core
  Copyright (c) 2010 Nodes For Breakfast
  http: //nodesforbreakfast.com
-----------------------------------------------------------------------*/

/* Reset
-----------------------------------------------------------------------*/
html, body, div, span, applet, object, iframe, img, hr,
h1, h2, h3, h4, h5, h6, p, blockquote, q, cite,
strong, em, b, u, i, a,  abbr, acronym, address,
big, small,  sub, sup, ins, del,
pre, code, kbd, samp, dfn, var, tt,
dl, dt, dd, ol, ul, li,
table, caption, tbody, tfoot, thead, tr, th, td,
fieldset, form, label, legend, select, option, textarea, /* input, */
article, aside, footer, header, hgroup, nav,
section,  dialog, figure, time, mark, audio, video,
center, basefont, font, s, strike, dir, menu
{
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline;
  font-size: 100%;
  line-height: inherit;
  color: inherit;
  background: transparent;
}

input { color: inherit; width: auto; }
img   { max-width: 100%; } /* don't excede bounds of container */

/* Baseline Grid - Vertical sizing in multiples of 20px
-----------------------------------------------------------------------*/
body { font-size: 13px; line-height: 20px; }

h1 { font-size: 40px; line-height: 40px; margin-bottom: 20px; }
h2 { font-size: 30px; line-height: 40px; margin-bottom: 20px; }
h3 { font-size: 20px; line-height: 20px; margin-bottom: 20px; }
h4 { font-size: 16px; line-height: 20px; margin-bottom: 20px; }
h5 { font-size: 14px; line-height: 20px; margin-bottom: 20px; }
h6 { font-size: 13px; line-height: 20px; margin-bottom: 0;    }

hr { height: 1px; margin: 18px 0 19px 0; background: #333; }

p, ul, ol, dl, dialog,
table, blockquote, form,
fieldset, textarea, input { margin-bottom: 20px; }

abbr, code, kbd,
samp, small, var { line-height: 1em; }

/* Basic Typography
-----------------------------------------------------------------------*/
body             { font-family: "helvetica neue", helvetica, arial, sans-serif; word-spacing: 0.125em; letter-spacing: .02em; }
code, kbd, samp,
pre, tt, var     { font-family: 'andale mono', 'lucida console', monospace; word-spacing: 0; letter-spacing: 0; }
textarea, input,
select, option   { font-family: lucida sans, lucida grande, sans-serif; font-size: inherit; }

h1, h2           { font-weight: 300; }
h3, h4           { font-weight: 400; }
h5, h6           { font-weight: 500; }

blockquote       { padding-left: 20px; padding-right: 20px; }

b, strong,
dt, th, thead    { font-weight: bold; }
i, em, cite, dfn { font-style: italic; }

small            { font-size: 80%; }
big              { font-size: 150%; line-height: 75%; }
sup              { font-size: 80%;  line-height: 0; vertical-align: super; }
sub              { font-size: 80%;  line-height: 0; vertical-align: sub; }

mark             { background: rgba(255, 255, 0, 0.4); }
del              { text-decoration: line-through; }
ins              { text-decoration: underline; }

dfn[title],
abbr[title],
acronym[title]   { border-bottom: 1px dotted; cursor: help; }
acronym, abbr    { text-transform: uppercase; letter-spacing: .1em; white-space: nowrap; }

/* Lists */
ul, ol           { margin-left: 20px; }
ul               { list-style-type: disc; }
ol               { list-style-type: decimal; }
li ul, li ol     { margin-bottom: 0; }

/* Tables */
table            { border-collapse: collapse; border-spacing: 0; width: 100%; }
th, td           { vertical-align: middle; }

/* Links */
a                { color: #369; text-decoration: none; text-decoration: inherit; } // lt IE8 - can't inherit
a: link          {}
a: visited       {}
a: hover         {}
a: focus         {}
a: active        {}

/* Forms - Remember Baseline Grid
-----------------------------------------------------------------------*/
fieldset         { border: 1px solid; padding: 19px; margin-bottom: 20px; }
legend           { padding: 0 .5em; font-weight: bold; }
label            { display: block;  font-weight: bold; }

input,
select,
textarea {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  -icab-box-sizing: border-box;
  -khtml-box-sizing: border-box; 
}

input[type="file"] { height:20px; }

input[type="radio"],
input[type="checkbox"] { margin: 0; }

select,
textarea,
input[type="text"],
input[type="password"] { height:20px; border: 1px solid; padding: 1px 2px; background-color: white; }

textarea         { height: 200px; padding: 0; }
select           { height: 20px; padding: 0; }

/* Clearing floats without extra markup
   Details: http: //www.positioniseverything.net/easyclearing.html
-----------------------------------------------------------------------*/
.clear-block:after,
.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.clear-block,
.clearfix { display: block; }

/* Regular clearing */
.clear { clear: both; }