/* Form Elements
-----------------------------------------------------------------------*/
.form-item input { margin-bottom: 0; }

.form-text,
.form-select,
.form-textarea,
.form-autocomplete {
  max-width:100%;
  border-width: 1px;
  border-color: inherit;
}
/* Highlight fields on hover and focus */
.form-text:hover,
.form-text:focus,
.form-select:hover,
.form-select:focus,
.form-textarea:hover,
.form-textarea:focus,
.form-autocomplete:hover,
.form-autocomplete:focus
{ border-color: #ace; }

/* Form errors */
.form-item .error { color: #e55; border-width: 2px; }


/* Labels */
.form-item label        { font-variant:small-caps; color: #999; }
.form-item label.option { font-variant: normal;    color: inherit; }

/* Fieldset descriptions */
.fieldset .description { font-size: .9em; margin-bottom: 20px; }

/* Form Items
-----------------------------------------------------------------------*/
/* Highlight form-item and show description on hover */
.form-item       { position: relative; padding: 0 5px 8px; margin-bottom: 12px; }
.form-option     { padding: 10px 5px; margin: 0; }
.form-item:hover { background-color: #f0f8f4; }

.form-item .description {
  visibility: hidden;
  position: absolute;
  z-index: 5;
  top: 100%;
  right: 0;
  padding: 10px;
  max-width: 60%;
  background-color: #e8f4f0;
  border-color: #f0f8f4;
  border-style: solid;
  border-width: 0 5px 5px;
}
.form-item:hover .description { visibility: visible; }

/* Fieldsets
-----------------------------------------------------------------------*/
.fieldset { margin-bottom: 10px; border: 1px solid #999; }
.fieldset-content { padding: 10px 9px 9px; }

.collapsible .fieldset-title { cursor: pointer; }
.collapsed .fieldset-title   { padding: 4px 9px 4px; color: #999; }

.fieldset-title {
  margin: 0;
  line-height: 20px;
  padding: 4px 9px 5px;
  font-size: 12px;
  font-weight: bold;
  background-color: #eee;
} 

/* Specific tweaks and fixes
-----------------------------------------------------------------------*/
/* Don't hide descriptions in the admin toolbar */
#admin-toolbar .form-item .description { display: block; }

/* Prevent the "Split summary at cursor" button sliping behind the highlighting
   and prevent the button from obstructing the teaser box as it expands */
.teaser-checkbox { position: relative; z-index: 2; padding-right: 5px; }
.teaser-button { margin: 0; margin-top: -1px; height: 20px; padding: 0 6px; }

/* Don't brake the baseline grid */
.resizable-textarea .grippie { margin-bottom: 10px; }


/* In progress
-----------------------------------------------------------------------*/

/* Submit */
.form-submit { height: 30px; margin-bottom: 10px; }

.teaser-button,
.form-submit {
  background-color: #f4f4f4;
  border-width:1px;
  border-style:solid;
  border-color:#ddd #ddd #ccc;
  
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  
  box-shadow:#ddd 0px 1px 1px;
  -moz-box-shadow:#ddd 0px 1px 1px;
  -webkit-box-shadow:#ddd 0px 1px 1px;
}

.teaser-button:hover,
.form-submit:hover {
  background-color: #444;
  border-color:#999 #999 #888;
  color:#fff;
}
