/* $Id$ */

/*-----------------------------------------------------------------------
  Seed - Grid
  Copyright (c) 2010 Nodes For Breakfast
  http: //nodesforbreakfast.com
-----------------------------------------------------------------------*/

/* Page */
.limiter        { width: 960px; margin: 0 auto; }

/* Columns */
.column         { display: block; float: left; position: relative; }

/* Gutters */
.block-inner    { margin-left:  20px; }
.region .region { margin-left: -20px; }

/* Grid Units
-----------------------------------------------------------------------*/
.grid-1  { width: 04.167%; }
.grid-2  { width: 08.333%; }
.grid-3  { width: 12.500%; }
.grid-4  { width: 16.667%; }
.grid-5  { width: 20.833%; }
.grid-6  { width: 25.000%; }
.grid-7  { width: 29.167%; }
.grid-8  { width: 33.333%; }
.grid-9  { width: 37.500%; }
.grid-10 { width: 41.667%; }
.grid-11 { width: 45.833%; }
.grid-12 { width: 50.000%; }
.grid-13 { width: 54.167%; }
.grid-14 { width: 58.333%; }
.grid-15 { width: 62.500%; }
.grid-16 { width: 66.667%; }
.grid-17 { width: 70.833%; }
.grid-18 { width: 75.000%; }
.grid-19 { width: 79.167%; }
.grid-20 { width: 83.333%; }
.grid-21 { width: 87.500%; }
.grid-22 { width: 91.667%; }
.grid-23 { width: 95.833%; }
.grid-24 { width: 100.00%; }

/* Prepend / Append # Units
-----------------------------------------------------------------------*/
.prepend-1  { padding-left: 04.167%; }  .append-1  { padding-right: -04.167%; }
.prepend-2  { padding-left: 08.333%; }  .append-2  { padding-right: -08.333%; }
.prepend-3  { padding-left: 12.500%; }  .append-3  { padding-right: -12.500%; }
.prepend-4  { padding-left: 16.667%; }  .append-4  { padding-right: -16.667%; }
.prepend-5  { padding-left: 20.833%; }  .append-5  { padding-right: -20.833%; }
.prepend-6  { padding-left: 25.000%; }  .append-6  { padding-right: -25.000%; }
.prepend-7  { padding-left: 29.167%; }  .append-7  { padding-right: -29.167%; }
.prepend-8  { padding-left: 33.333%; }  .append-8  { padding-right: -33.333%; }
.prepend-9  { padding-left: 37.500%; }  .append-9  { padding-right: -37.500%; }
.prepend-10 { padding-left: 41.667%; }  .append-10 { padding-right: -41.667%; }
.prepend-11 { padding-left: 45.833%; }  .append-11 { padding-right: -45.833%; }
.prepend-12 { padding-left: 50.000%; }  .append-12 { padding-right: -50.000%; }
.prepend-13 { padding-left: 54.167%; }  .append-13 { padding-right: -54.167%; }
.prepend-14 { padding-left: 58.333%; }  .append-14 { padding-right: -58.333%; }
.prepend-15 { padding-left: 62.500%; }  .append-15 { padding-right: -62.500%; }
.prepend-16 { padding-left: 66.667%; }  .append-16 { padding-right: -66.667%; }
.prepend-17 { padding-left: 70.833%; }  .append-17 { padding-right: -70.833%; }
.prepend-18 { padding-left: 75.000%; }  .append-18 { padding-right: -75.000%; }
.prepend-19 { padding-left: 79.167%; }  .append-19 { padding-right: -79.167%; }
.prepend-20 { padding-left: 83.333%; }  .append-20 { padding-right: -83.333%; }
.prepend-21 { padding-left: 87.500%; }  .append-21 { padding-right: -87.500%; }
.prepend-22 { padding-left: 91.667%; }  .append-22 { padding-right: -91.667%; }
.prepend-23 { padding-left: 95.833%; }  .append-23 { padding-right: -95.833%; }

/* Push / Pull # Units
-----------------------------------------------------------------------*/
.push-1  { left: 04.167%; }  .pull-1  { left: -04.167%; }
.push-2  { left: 08.333%; }  .pull-2  { left: -08.333%; }
.push-3  { left: 12.500%; }  .pull-3  { left: -12.500%; }
.push-4  { left: 16.667%; }  .pull-4  { left: -16.667%; }
.push-5  { left: 20.833%; }  .pull-5  { left: -20.833%; }
.push-6  { left: 25.000%; }  .pull-6  { left: -25.000%; }
.push-7  { left: 29.167%; }  .pull-7  { left: -29.167%; }
.push-8  { left: 33.333%; }  .pull-8  { left: -33.333%; }
.push-9  { left: 37.500%; }  .pull-9  { left: -37.500%; }
.push-10 { left: 41.667%; }  .pull-10 { left: -41.667%; }
.push-11 { left: 45.833%; }  .pull-11 { left: -45.833%; }
.push-12 { left: 50.000%; }  .pull-12 { left: -50.000%; }
.push-13 { left: 54.167%; }  .pull-13 { left: -54.167%; }
.push-14 { left: 58.333%; }  .pull-14 { left: -58.333%; }
.push-15 { left: 62.500%; }  .pull-15 { left: -62.500%; }
.push-16 { left: 66.667%; }  .pull-16 { left: -66.667%; }
.push-17 { left: 70.833%; }  .pull-17 { left: -70.833%; }
.push-18 { left: 75.000%; }  .pull-18 { left: -75.000%; }
.push-19 { left: 79.167%; }  .pull-19 { left: -79.167%; }
.push-20 { left: 83.333%; }  .pull-20 { left: -83.333%; }
.push-21 { left: 87.500%; }  .pull-21 { left: -87.500%; }
.push-22 { left: 91.667%; }  .pull-22 { left: -91.667%; }
.push-23 { left: 95.833%; }  .pull-23 { left: -95.833%; }
.push-24 { left: 100.00%; }  .pull-24 { left: -100.00%; }


/* Theme Development
-----------------------------------------------------------------------*/
body.showgrid .limiter    { background-image: url(../img/grid.png); background-position: 10px 0;}

.wireframe div.region     { background-color: #fff6f6 !important; }
.wireframe div.block {
  background-color: #ffd !important;
  border: 1px dashed #99f !important;
  margin:-1px !important;
}
.wireframe div.block-inner { background-color: #f6f6ff !important; }
.wireframe .region .region .block-inner { background-color: #eef !important; }


/* Clear Floats */
.column:after,
.region:after,
.block-inner:after,
.limiter:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

/* Force hasLayout in IE */
.block, .block-inner { zoom: 100%; }

/* IE6 double margins bug */
/* http://www.positioniseverything.net/explorer/doubled-margin.html */
.column { display: inline; }