/* $Id$ */

/*-----------------------------------------------------------------------
  Seed - Mobile
  Copyright (c) 2010 Nodes For Breakfast
  http: //nodesforbreakfast.com
-----------------------------------------------------------------------*/

body     { margin: 0 !important; -webkit-text-size-adjust: none; }
.limiter { width: auto; padding-right: 10px; }
.column  { overflow: hidden; }

/* use a smaller gutter*/
.block-inner    { margin-left: 10px; }
.region .region { margin-left: -10px; }

/* Column Widths: 960px/24units = 40px per unit, subtract 20px of padding
-----------------------------------------------------------------------*/
.grid-1, .grid-2, .grid-3, .grid-4, .grid-5, .grid-6,
.grid-7, .grid-8, .grid-9, .grid-10, .grid-11, .grid-12,
.grid-13, .grid-14, .grid-15, .grid-16, .grid-17, .grid-18,
.grid-19, .grid-20, .grid-21, .grid-22, .grid-23, .grid-24
{ width: 100% !important; }

/* Prepend / Append # Units
-----------------------------------------------------------------------*/
.prepend-1, .prepend-2, .prepend-3, .prepend-4, .prepend-5, .prepend-6,
.prepend-7, .prepend-8, .prepend-9, .prepend-10, .prepend-11, .prepend-12,
.prepend-13, .prepend-14, .prepend-15, .prepend-16, .prepend-17, .prepend-18,
.prepend-19, .prepend-20, .prepend-21, .prepend-22, .prepend-23, .prepend-24,

.append-1, .append-2, .append-3, .append-4, .append-5, .append-6,
.append-7, .append-8, .append-9, .append-10, .append-11, .append-12,
.append-13, .append-14, .append-15, .append-16, .append-17, .append-18,
.append-19, .append-20, .append-21, .append-22, .append-23, .append-24
{ padding-left: 0 !important; padding-right: 0 !important;}

/* Push / Pull # Units
-----------------------------------------------------------------------*/
.push-1, .push-2, .push-3, .push-4, .push-5, .push-6,
.push-7, .push-8, .push-9, .push-10, .push-11, .push-12,
.push-13, .push-14, .push-15, .push-16, .push-17, .push-18,
.push-19, .push-20, .push-21, .push-22, .push-23, .push-24,

.pull-1, .pull-2, .pull-3, .pull-4, .pull-5, .pull-6,
.pull-7, .pull-8, .pull-9, .pull-10, .pull-11, .pull-12,
.pull-13, .pull-14, .pull-15, .pull-16, .pull-17, .pull-18,
.pull-19, .pull-20, .pull-21, .pull-22, .pull-23, .pull-24
{ left: 0 !important; }

/* Other
-----------------------------------------------------------------------*/

img    { max-width: 100%; } /* don't excede bounds of container */

embed,
object { width: 240px; height:200px; } /* make flash videos smaller */

#growl { width: auto; right:5px; left: 5px; top: 5px; }

/* Admin Module */
#admin-toolbar .admin-blocks     { background:rgba(0,0,0,.85) !important; }
#admin-toolbar .admin-tabs       { background:transparent !important; }
#block-admin-menu                { bottom: auto !important; }
#block-admin-menu .block-content { overflow-y: hidden !important; }