/* Other
-----------------------------------------------------------------------*/


ul.circle      { list-style-type: circle; }
ul.square      { list-style-type: square; }
ol.upper-roman { list-style-type: upper-roman; }
ol.lower-alpha { list-style-type: lower-alpha; }


/* Font Stacks
-----------------------------------------------------------------------*/
.sans-serif-sm { font-family: Arial, Helvetica, "Nimbus Sans L", FreeSans, sans-serif; }
.sans-serif-lg { font-family: Verdana, Geneva, Arial, Helvetica, sans-serif; }
.serif-sm      { font-family: Garamond, Perpetua, "Nimbus Roman No9 L", "Times New Roman", serif; }
.serif-lg      { font-family: Baskerville, Georgia, Palatino, "Palatino Linotype", "Book Antiqua", "URW Palladio L", serif; }
.myriad        { font-family: "Myriad Pro", Myriad, "Trebuchet MS", Arial, Helvetica, sans-serif; }
.lucida        { font-family: "Lucida Sans", "Lucida Grande", "Lucida Sans Unicode", Verdana, Geneva, sans-serif; }

/* Special
----------------------------------------------------------------------- */
.callout                  { float:right;  margin-left:1.5em; }
.wrapLineTest .wrap       { display:none; }
.wrapLineTest:hover .wrap { display:inline; }

.amp {
/* Based on Dan Cederholm's technique - http://simplebits.com/notebook/2008/08/14/ampersands.html */
  font-family: Baskerville, "Goudy Old Style", "Palatino", "Book Antiqua", serif;
  font-weight: normal;
  font-style: italic;
}

.pull-quote:before {
  font-family:"Times New Roman", Times, serif;
  font-size: 4.5em;
  content: '\201C';
  float: left;
  margin-left: -.5em;
}

	

/* Border Styles
----------------------------------------------------------------------- */
.box{border:.083em solid gray; padding:1.417em 1em; margin-bottom:1.5em;}
.box *:last-child{margin-bottom:0;}
.generic{ border:none; border-top:2px solid #333;}
	
/* Border Based Arrows - Experimental
----------------------------------------------------------------------- */
.arrow {font-size: 0; line-height: 0; width: 0; border-style:solid; border-color:#666;}
.arrow.N{ border-bottom-width: 18px; border-left: 9px solid transparent; border-right: 9px solid transparent; }
.arrow.S{border-top-width: 18px; border-left: 9px solid transparent; border-right: 9px solid transparent; }
.arrow.E{ border-top: 9px solid transparent; border-right-width: 18px; border-bottom: 9px solid transparent; }
.arrow.W{ border-top: 9px solid transparent; border-left-width: 18px; border-bottom: 9px solid transparent; }
.arrow.NE{ border-top-width: 18px; border-right: 18px solid transparent; }
.arrow.NW{ border-top-width: 18px; border-left: 18px solid transparent; }
.arrow.SE{ border-bottom-width: 18px; border-right: 18px solid transparent; }
.arrow.SW{ border-bottom-width: 18px; border-left: 18px solid transparent; }

/* Drop Caps - Rough Starting point
----------------------------------------------------------------------- */
.drop-caps:first-line {font-variant:small-caps; font-family: Georgia,"Times New Roman", serif; }
.drop-caps:first-letter{
	font-family: Georgia,"Times New Roman", serif;
	text-transform:capitalize;
	float:left;
  font-size:3.8em;
	margin:0 .05em 0 -.125em;
  line-height:.7em; height:.7em; /* Arrived at empirically to minimize browser inconsistencies - may need to change if font is changed*/
	color:#444;
 }
.double-drop.drop-caps:first-letter{ font-size:5.8em; }
.triple-drop.drop-caps:first-letter{ font-size:8em; }

/* Date Badge
----------------------------------------------------------------------- */
.date{
	border: .083em solid #999;
	font-family: Georgia,"Times New Roman", serif;
	width: 3.5em;
	margin:-.083em 1.5em 1.417em 0;
	float:left;
}
.date span{ display:block; line-height:1em;text-align:center;}

.date .month{ text-transform:uppercase; font-size: 1.2em; padding-top: 0.25em;}
.date .day{ font-size: 2.333em; line-height:1.286em;}
.date .year{ font-size: 1.2em; line-height:1.25em; background-color:#999; color:white; }

/* RTL
----------------------------------------------------------------------- */
/*
body { direction: rtl; }
.block-inner { margin-left: 0; margin-right: 20px; }
.region .region { margin-left: 0; margin-right: -20px; }

ul.links li  { float: right; }
#logo { float: right; margin-right:0; margin-left:20px; }

*/

