/* $Id$ */

/*-----------------------------------------------------------------------
  Seed - Base Styles
  Copyright (c) 2010 Nodes For Breakfast
  http: //nodesforbreakfast.com
-----------------------------------------------------------------------*/

body                 { color: #666; }
#accessibility-links { display:none; }

.fluid               { width:100%; }

/* Baseline Maintainence
-----------------------------------------------------------------------*/
.breadcrumb,
.node .meta     { margin-bottom: 20px; }

#site-name      { font-size: 40px; line-height: 40px; margin-bottom: 20px; }
#site-slogan    { font-size: 30px; line-height: 30px; margin-bottom: 10px; }

/* Module Overrides
-----------------------------------------------------------------------*/
/* Views */
.views-basic-info { margin:0; padding:0; }

form#views-ui-preview-form,
#center form#views-ui-preview-form {
  border: 1px solid #D6DBDE;
  margin: 0 0 20px 0;
  padding: 0;
}

.views-query-info pre { overflow: auto; }

/* Region Identifier: /admin/build/block */
.block-region {
  padding: 8px;
  margin: 2px;
  line-height: 20px;
  font-size: 16px;
  font-weight: bold;
  text-align:center;
  text-transform: capitalize;
  background: rgba(0,0,0,.75);
  color: #fff;
}

/* Page Elements
-----------------------------------------------------------------------*/
#logo           { float: left; margin-right: 20px; }
#site-name,
#site-slogan    { font-weight: 100; letter-spacing: .06em; }    
#footer-message { text-align: center; }


/* Clear Floats */
.links:after,
.content:after,
.signature:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

/* Links
-----------------------------------------------------------------------*/
.links          { list-style: none; margin-left: 0; }
.links li       { float: left; font-weight: 300; }

.links a        { display: block; padding: 0 5px; background: rgba(0,0,0,.03); }
.links a:hover  { background: #888; background: rgba(0,0,0,.5); color: #fff; }
.links a.active { background: #333; background: rgba(0,0,0,.75); color: #fff; }

/* Force hasLayout in IE */
.links          { zoom:100%; }

/* Main Menu */
.menu.links     { margin-bottom:30px; }
.menu.links a   { padding: 5px 1em; }

/* Dropdown
----------------------------------------------------------------------- */
.menu.dropdown       { list-style-type: none; margin-left: 0; }

/* Positioning */
.menu.dropdown li    { display: block; position: relative; float: left; }
.menu.dropdown li li { float: none; }
.menu.dropdown ul    { position: absolute; margin-left: 0; left: 0; z-index: 1; }
.menu.dropdown ul ul { top: 0; left: 100%; }

/* Hover Magic */
.menu.dropdown li ul,
.menu.dropdown li:hover li ul { display: none; }

.menu.dropdown li:hover ul,
.menu.dropdown li li:hover ul { display: block; }


/* Growl
-----------------------------------------------------------------------*/
#growl { position: absolute; width: 400px; right: 20px; z-index: 599; }

.messages > ul { margin: 0; list-style: none; }

.messages {
  float: right;
  padding: 15px;
  position: relative;
  margin-bottom: 10px;
  
  /* 100% width including padding and borders */
  width: 100%;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  -icab-box-sizing: border-box;
  -khtml-box-sizing: border-box;
   
   /* rounded corners */
   border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
}

.messages,
div.ok,
div.warning,
div.error {
  color: #fff;
  border: none;
  background: #666;
  background: rgba(0,0,0,.75);
  border-left: 10px solid #9af;
}

.messages > .close {
  top: 2px;
  right: 2px;
  position: absolute;
  cursor: pointer;
  font-size: 10px;
  line-height: 1em;
  padding: 2px 5px;
  border: 2px solid #fff;
  
  /* rounded corners */
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
}

div.ok      { border-left: 10px solid #3e3; }
div.warning { border-left: 10px solid #fe3; }
div.error   { border-left: 10px solid #f33; }

.messages a { color: #9af; }
.ok a       { color: #3e3; }
.warning a  { color: #fe3; }
.error a    { color: #f33; }

.krumo-root   { color: #000; }
